/* 
 Created on : Jan 19, 2016
 Author     : yeozkaya@gmail.com
*/

.coordinatedImagePreviewControlContainer {
    position: fixed;
    bottom:15px;
    right:5px;
    z-index: 400;
    max-width: 500px;
    width: 50px;
    height: 42px;
    background:transparent;
}

.coordinatedImagePreviewControlMenuLink{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 42px;
    padding: 5px 10px 10px 0px;
    vertical-align: middle;
    font-family: arial;
    bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 2px 2px 2px -2px gray;
    -webkit-box-shadow: 2px 2px 2px -2px 
}

.coordinatedImagePreviewControlMenuImage {
    vertical-align: middle;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    margin-left: 10px;
    background-color: white;
}

.coordinatedImagePreviewControlOpenMenuImage {
    background-image: url('../img/icon/abrir_img.png');    
}

.coordinatedImagePreviewControlCloseMenuImage {
    background-image: url('../img/icon/cerrar_img.png');
}

.coordinatedImagePreviewControlMainDiv{
    z-index: 400;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100px;
    background-color:rgb(227, 245, 172);
    bottom: 0px;
    border-style: solid;
    border-color: #566b13;
    border-width: 0px 0px 0px 0px;

    /* -moz-box-shadow: 2px 2px 2px -2px gray;
    -webkit-box-shadow: 2px 2px 2px -2px gray; */
    box-shadow: 2px 2px 2px -2px gray;
}

.coordinatedImagePreviewControlUl {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0px;
    
}

.coordinatedImagePreviewControlLi {
    display: inline;
    margin-right: 2px;
    
}

